<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Course and exercises</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbar__left">
                    <a href="../index.html"> <img src="../img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar__right">

                    <input type="text" placeholder="Find what interests you">
                    <select action="">
                    <optgroup label="Terminal ">
                    <option value="">Terminal ES</option>
                    </optgroup>
                    </select>
                    <button class="btn-dark login">log In</button>
                    <button class="btn-light premium">Get Premium</button>
                    <button class="additional"><img src="../img/icons/ic_user.svg" alt="">
                    </button>
                    <button class="additional"><img src="../img/icons/ic.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </header>
    <section class="course-top">
        <div class="container">
            <div class="text-top__course">
                <h5 class="text-swipe">Dashboard >> Mathematics >> <span>Serial Communication</span></h5>
                <h2 class="course-titile">Serial Communication</h2>
                <img class="fill" src="../img/icons/Fill0345.svg" alt="">
            </div>
        </div>
    </section>

    <section class="course">
        <div class="container">
            <div class="course-main">
                <div class="main-tabs">
                    <div class="course-tabs">

                        <div class="tab-course">
                            <a href="#">
                                <h4 class="text-active simple">Course and exercises</h4>
                                <div class="tabs__active">
                                </div>
                            </a>
                        </div>

                        <div class="tab-course">
                            <a href="motivation.html">
                                <h4 class="simple">Summary and flashcards</h4>
                            </a>
                        </div>

                        <div class="tab-course">
                            <a href="traning.html">
                                <h4 class="simple">Exams</h4>
                            </a>
                        </div>
                    </div>
                    <hr class="line-simple">
                </div>
                <div class="main-content">
                    <div class="main-saidbar">
                        <h3 class="saidbar-titel">Chapter summary</h3>
                        <div class="course-menyus">
                            <div class="course-menyu">
                                <h4 class="menyu-text">Complex numbers</h4>
                                <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                            </div>
                            <div class="course-menyu">
                                <h4 class="menyu-text">Polynomials</h4>
                                <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                            </div>
                            <div class="course-menyu">
                                <h4 class="menyu-text">Composite functions</h4>
                                <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                            </div>
                            <div class="course-menyu">
                                <h4 class="menyu-text">Trigonometry</h4>
                                <img class="active-bg" src="../img/bg_name_saidbar.png" alt="">
                            </div>
                            <div class="course-menyu">
                                <h4 class="menyu-text">Vectors and complex numbers <br> to prepare for the exam </h4>
                                <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                            </div>
                            <div class="course-menyu">
                                <h4 class="menyu-text">Matrices</h4>
                                <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                            </div>
                            <div class="course-menyu">
                                <h4 class="menyu-text">Series</h4>
                                <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                            </div>
                            <div class="course-menyu">
                                <h4 class="menyu-text">Conic sections</h4>
                                <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="nain-raight">
                        <div class="right-title">
                            <div class="title-topic">
                                <h4 class=".topic-complex">Complex numbers</h4>
                                <h5 class="topic-total">Total 1h 20 min</h5>
                            </div>
                            <div class="progress__wiev">
                                <h3>50% completed</h3>
                                <div class="progress_bar">
                                    <div class="progres"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section class="app app-motivation ">
        <div class="container ">
            <div class="app__content ">
                <img class="img " src="../img/72.png " alt=" ">
                <h2>Use the app to review anywhere</h2>
                <div class="app__img ">
                    <a href="# "> <img src="../img/image 6.png " alt=" "></a>
                    <a href="# "> <img src="../img/image 7.png " alt=" "></a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class="container ">
            <div class="footer__content ">
                <div class="footer__logo ">
                    <a href="./home.html "> <img src="../img/logodarkpng.png " alt=" "></a>
                </div>
                <div class="footer__classes ">
                    <h3>Classes</h3>
                    <ul>
                        <li>
                            <a href="# ">5th</a>
                        </li>
                        <li>
                            <a href="# ">4th</a>
                        </li>
                        <li>
                            <a href="# ">3rd</a>
                        </li>
                        <li>
                            <a href="# ">Second</a>
                        </li>
                        <li>
                            <a href="# ">First</a>
                        </li>
                        <li>
                            <a href="# ">Terminal L</a>
                        </li>
                        <li>
                            <a href="# ">Terminal ES</a>
                        </li>
                        <li>
                            <a href="# ">Terminal S</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__subjects ">
                    <h3>Subjects</h3>
                    <ul>
                        <li>
                            <a href="../views/philosophy.html ">Mathematics</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html ">Physical</a>
                        </li>
                        <li>
                            <a href=" ../views/philosophy.html ">SVT</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html ">French</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html ">Chemistry</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html ">Technology</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__company ">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href="# ">About Us</a>
                        </li>
                        <li>
                            <a href="# ">Contact</a>
                        </li>
                        <li>
                            <a href="./teacher.html ">Our teachers</a>
                        </li>
                        <li>
                            <a href="# "> Support community</a>
                        </li>
                        <li>
                            <a href="# ">Share your story</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__follow ">
                    <h3>Follow Us</h3>
                    <div class="follow__btn ">
                        <button><img src="../img/icons8-facebook-f1.png " alt=" ">
                          </button>
                        <button><img src="../img/icons8-youtube1.png " alt=" ">
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="../scripts/index.js "></script>
</body>

</html>