<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Course and exercises</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbar__left">
                    <a href="../index.html"> <img src="../img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar__right">

                    <input type="search" placeholder="Find what interests you">
                    <select action="">
                        <optgroup label="Terminal ">
                            <option value="">Terminal ES</option>
                        </optgroup>
                    </select>

                    <a href="./premium.html"> <button class="btn-light premium">Get Premium</button></a>
                    <button class="additional"><img src="../img/icons/ic_user.svg" alt="">
                    </button>
                    <button class="additional"><img src="../img/icons/ic.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </header>
    <section class="course-top">
        <div class="container">
            <div class="text-top__course">
                <h5 class="text-swipe">Dashboard >> Mathematics >> <span>Serial Communication</span></h5>
                <h2 class="course-titile">Serial Communication</h2>
                <img class="fill" src="../img/icons/Fill0345.svg" alt="">
            </div>
        </div>
    </section>

    <section class="course">
        <div class="container">
            <div class="course-main">
                <div class="main-tabs">
                    <div class="course-tabs">
                        <div class="tab-course text-active__communication" id="btn-tab_menyu">
                            Course and exercises
                        </div>

                        <div class="tab-course" id="btn-tab_menyu">
                            Summary and flashcards
                        </div>

                        <div class="tab-course" id="btn-tab_menyu">
                            Exams
                        </div>
                    </div>
                    <hr class="line-simple" id="line">
                </div>


                <div class="main-content ">
                    <div class="main-saidbar">
                        <h3 class="saidbar-titel">Chapter summary</h3>
                        <div class="course-menyus">
                            <div class="course-menyu">
                                <h3 class="course-menyu__item">Complex numbers</h3>
                            </div>
                            <div class="course-menyu">
                                <h3 class="course-menyu__item">Polynomials</h3>
                            </div>
                            <div class="course-menyu">
                                <h3 class="course-menyu__item">Composite functions</h3>
                            </div>
                            <div class="course-menyu ">
                                <h3 class="course-menyu__item active-bg">Trigonometry</h3>
                            </div>
                            <div class="course-menyu">
                                <h3 class="course-menyu__item">Vectors and complex numbers</h3>
                            </div>
                            <div class="course-menyu">
                                <h3 class="course-menyu__item">Matrices</h3>
                            </div>
                            <div class="course-menyu">
                                <h3 class="course-menyu__item">Series</h3>
                            </div>
                            <div class="course-menyu">
                                <h3 class="course-menyu__item">Conic sections</h3>
                            </div>
                        </div>
                    </div>
                    <div class="nain-raight">
                        <div class="complexs-group_course">
                            <div class="right-title">
                                <div class="title-topic">
                                    <h4 class="topic-complex__title">Complex numbers</h4>
                                    <h5 class="topic-total">Total 1h 20 min</h5>
                                </div>
                                <div class="progress__wiev">
                                    <h3>50% completed</h3>
                                    <div class="progress_bar">
                                        <div class="progres"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="video-box__coure">
                                <div class="video-box__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic1_video.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/labelbtn1.png" alt=""></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic2.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/label2.png" alt=""></button>
                                </div>
                            </div>
                            <div class="video-box__coure">
                                <div class="video-box__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic1_video.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/labelbtn1.png" alt=""></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic2.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/label2.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                        <div class="complexs-group_course">
                            <div class="right-title">
                                <div class="title-topic">
                                    <h4 class="topic-complex__title">Complex numbers</h4>
                                    <h5 class="topic-total">Total 1h 20 min</h5>
                                </div>
                                <div class="progress__wiev">
                                    <h3>50% completed</h3>
                                    <div class="progress_bar">
                                        <div class="progres"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="video-box__coure">
                                <div class="video-box__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic1_video.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/labelbtn1.png" alt=""></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic2.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/label2.png" alt=""></button>
                                </div>
                            </div>
                            <div class="video-box__coure">
                                <div class="video-box__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic1_video.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/labelbtn1.png" alt=""></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic2.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/label2.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                        <div class="complexs-group_course">
                            <div class="right-title">
                                <div class="title-topic">
                                    <h4 class="topic-complex__title">Complex numbers</h4>
                                    <h5 class="topic-total">Total 1h 20 min</h5>
                                </div>
                                <div class="progress__wiev">
                                    <h3>50% completed</h3>
                                    <div class="progress_bar">
                                        <div class="progres"></div>
                                    </div>
                                </div>
                            </div>

                            <div class="video-box__coure">
                                <div class="video-box__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic1_video.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/labelbtn1.png" alt=""></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic2.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/label2.png" alt=""></button>
                                </div>
                            </div>
                            <div class="video-box__coure">
                                <div class="video-box__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic1_video.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/labelbtn1.png" alt=""></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz">
                                    <div class="video-name">
                                        <img src="../img/ic2.png" alt="">
                                        <div class="video-name_name">
                                            <h5 class="video-exsesaiz_course">Video</h5>
                                            <h3 class="name-exsesaiz_course">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn"><img src="../img/label2.png" alt=""></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="main-content hide">

                    <div class="nain-raight ">
                        <div class="complexs-group_course ">
                            <div class="right-title ">
                                <div class="title-topic ">
                                    <h4 class="topic-complex ">Summary</h4>

                                </div>
                                <div class="progress__wiev hide ">
                                    <h3>50% completed</h3>
                                    <div class="progress_bar ">
                                        <div class="progres "></div>
                                    </div>
                                </div>
                            </div>

                            <div class="video-box__coure flashcard-video__box">
                                <div class="video-box__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic3.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Course full version</h5>
                                            <h3 class="name-exsesaiz_course ">Serial Communication</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/lebel3.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic2.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                            <div class="video-box__coure ">
                                <div class="video-box__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic1_video.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic2.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                        </div>
                        <div class="complexs-group_course ">
                            <div class="right-title ">
                                <div class="title-topic ">
                                    <h4 class="topic-complex ">Flashcards</h4>

                                </div>
                                <div class="progress__wiev hide ">
                                    <h3>50% completed</h3>
                                    <div class="progress_bar ">
                                        <div class="progres "></div>
                                    </div>
                                </div>
                            </div>

                            <div class="video-box__coure ">
                                <div class="video-box__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic1_video.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic2.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                            <div class="video-box__coure ">
                                <div class="video-box__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic1_video.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic2.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                        </div>
                        <div class="complexs-group_course ">
                            <div class="right-title ">
                                <div class="title-topic ">
                                    <h4 class="topic-complex ">Complex numbers</h4>
                                    <h5 class="topic-total ">Total 1h 20 min</h5>
                                </div>
                                <div class="progress__wiev hide ">
                                    <h3>50% completed</h3>
                                    <div class="progress_bar ">
                                        <div class="progres "></div>
                                    </div>
                                </div>
                            </div>

                            <div class="video-box__coure ">
                                <div class="video-box__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic1_video.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic2.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                            <div class="video-box__coure ">
                                <div class="video-box__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic1_video.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class="video-card__exsesaiz ">
                                    <div class="video-name ">
                                        <img src="../img/ic2.png " alt=" ">
                                        <div class="video-name_name ">
                                            <h5 class="video-exsesaiz_course ">Video</h5>
                                            <h3 class="name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class="refreh-btn "><img src="../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="main-content hide ">
                    <div class="main-saidbar " ">
                        <h3 class=" saidbar-titel ">Exam topics</h3>
                        <div class=" course-menyus ">
                            <div class=" course-menyu ">
                                <h4 class=" course-menyu__item ">Complex numbers</h4>
                               
                            </div>
                            <div class=" course-menyu ">
                                <h4 class=" course-menyu__item ">Polynomials</h4>
                               
                            </div>
                            <div class=" course-menyu ">
                                <h4 class=" course-menyu__item ">Composite functions</h4>
                              
                            </div>
                            <div class=" course-menyu ">
                                <h4 class=" course-menyu__item ">Trigonometry</h4>
                               
                            </div>
                            <div class=" course-menyu ">
                                <h4 class=" course-menyu__item ">Vectors   to prepare </h4>
                               
                            </div>
                            <div class=" course-menyu ">
                                <h4 class=" course-menyu__item ">Conic sections</h4>
                               
                            </div>
                        </div>
                    </div>
                    <div class=" nain-raight ">
                        <div class=" complexs-group_course ">
                            <div class=" right-title ">
                                
                                <div class=" progress__wiev hide ">
                                    <h3>50% completed</h3>
                                    <div class=" progress_bar ">
                                        <div class=" progres "></div>
                                    </div>
                                </div>
                            </div>

                            <div class=" video-box__coure ">
                                <div class=" video-box__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic5.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Course full version</h5>
                                            <h3 class=" name-exsesaiz_course ">Serial Communication</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/label5.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class=" video-card__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic2.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                            <div class=" video-box__coure ">
                                <div class=" video-box__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic1_video.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class=" video-card__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic2.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                        </div>
                        <div class=" complexs-group_course ">
                            <div class=" right-title ">
                                <div class=" title-topic ">
                                    <h4 class="topic-complex ">Flashcards</h4>

                                </div>
                                <div class=" progress__wiev hide ">
                                    <h3>50% completed</h3>
                                    <div class=" progress_bar ">
                                        <div class=" progres "></div>
                                    </div>
                                </div>
                            </div>

                            <div class=" video-box__coure ">
                                <div class=" video-box__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic1_video.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class=" video-card__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic2.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                            <div class=" video-box__coure ">
                                <div class=" video-box__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic1_video.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class=" video-card__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic2.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                        </div>
                        <div class=" complexs-group_course ">
                            <div class=" right-title ">
                                <div class=" title-topic ">
                                    <h4 class="topic-complex ">Complex numbers</h4>
                                    <h5 class=" topic-total ">Total 1h 20 min</h5>
                                </div>
                                <div class=" progress__wiev hide ">
                                    <h3>50% completed</h3>
                                    <div class=" progress_bar ">
                                        <div class=" progres "></div>
                                    </div>
                                </div>
                            </div>

                            <div class=" video-box__coure ">
                                <div class=" video-box__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic1_video.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class=" video-card__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic2.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                            <div class=" video-box__coure ">
                                <div class=" video-box__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic1_video.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/labelbtn1.png " alt=" "></button>
                                </div>
                                <hr>
                                <div class=" video-card__exsesaiz ">
                                    <div class=" video-name ">
                                        <img src=" ../img/ic2.png " alt=" ">
                                        <div class=" video-name_name ">
                                            <h5 class=" video-exsesaiz_course ">Video</h5>
                                            <h3 class=" name-exsesaiz_course ">Powers of the imaginary unit</h3>
                                        </div>
                                    </div>
                                    <button class=" refreh-btn "><img src=" ../img/label2.png " alt=" "></button>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

    </section>

    <section class=" app app-motivation ">
        <div class=" container ">
            <div class=" app__content ">
                <img class=" img " src=" ../img/72.png " alt=" ">
                <h2>Use the app to review anywhere</h2>
                <div class=" app__img ">
                    <a href=" # "> <img src=" ../img/image 6.png " alt=" "></a>
                    <a href=" # "> <img src=" ../img/image 7.png " alt=" "></a>
                </div>
            </div>
        </div>

    </section>

    <footer>
        <div class=" container ">
            <div class=" footer__content ">
                <div class=" footer__logo ">
                    <a href=" ./home.html "> <img src=" ../img/logodarkpng.png " alt=" "></a>
                </div>
                <div class=" footer__classes ">
                    <h3>Classes</h3>
                    <ul>
                        <li>
                            <a href=" # ">5th</a>
                        </li>
                        <li>
                            <a href=" # ">4th</a>
                        </li>
                        <li>
                            <a href=" # ">3rd</a>
                        </li>
                        <li>
                            <a href=" # ">Second</a>
                        </li>
                        <li>
                            <a href=" # ">First</a>
                        </li>
                        <li>
                            <a href=" # ">Terminal L</a>
                        </li>
                        <li>
                            <a href=" # ">Terminal ES</a>
                        </li>
                        <li>
                            <a href=" # ">Terminal S</a>
                        </li>

                    </ul>
                </div>
                <div class=" footer__subjects ">
                    <h3>Subjects</h3>
                    <ul>
                        <li>
                            <a href=" ../views/philosophy.html ">Mathematics</a>
                        </li>
                        <li>
                            <a href=" ../views/philosophy.html ">Physical</a>
                        </li>
                        <li>
                            <a href=" ../views/philosophy.html ">SVT</a>
                        </li>
                        <li>
                            <a href=" ../views/philosophy.html ">French</a>
                        </li>
                        <li>
                            <a href=" ../views/philosophy.html ">Chemistry</a>
                        </li>
                        <li>
                            <a href=" ../views/philosophy.html ">Technology</a>
                        </li>

                    </ul>
                </div>
                <div class=" footer__company ">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href=" # ">About Us</a>
                        </li>
                        <li>
                            <a href=" # ">Contact</a>
                        </li>
                        <li>
                            <a href=" ./teacher.html ">Our teachers</a>
                        </li>
                        <li>
                            <a href=" # "> Support community</a>
                        </li>
                        <li>
                            <a href=" # ">Share your story</a>
                        </li>

                    </ul>
                </div>
                <div class=" footer__follow ">
                    <h3>Follow Us</h3>
                    <div class=" follow__btn ">
                        <button><img src=" ../img/icons8-facebook-f1.png " alt=" ">
                          </button>
                        <button><img src=" ../img/icons8-youtube1.png " alt=" ">
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src=" ../scripts/topic.js "></script>
    <!-- <script src=" ../scripts/index.js "></script> -->
</body>

</html>