<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Dashboard</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbar__left">
                    <a href="../index.html"> <img src="../img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar__right">

                    <input type="search" placeholder="Find what interests you">
                    <select action="">
                    <optgroup label="Terminal ">
                    <option value="">Terminal ES</option>
                    </optgroup>
                    </select>

                    <a href="./premium.html"> <button class="btn-light premium">Get Premium</button></a>
                    <button class="additional"><img src="../img/icons/ic_user.svg" alt="">
                    </button>
                    <button class="additional"><img src="../img/icons/ic.svg" alt="">
                    </button>
                </div>
            </div>
        </div>


    </header>
    <section class="text-top">
        <div class="container">
            <div class="text-top__content">
                <h2>Welcome, Callie!</h2>
                <img class="fill" src="../img/icons/Fill0345.svg" alt="">
                <div class="view">
                    <h4><span>12</span> mins viewed</h4>
                    <h4><span>40</span> activities checked</h4>

                </div>
            </div>
        </div>
    </section>

    <section class="tabs">
        <div class="container">
            <div class="tabs__content">
                <div class="tab-subject text-active" id="btn-tab_menyu">Subjects </div>
                <div class="tab-motivation" id="btn-tab_menyu"> Motivation</div>
                <div class="tab-trening" id="btn-tab_menyu">Trening</div>
            </div>

        </div>
        <hr class="line-simple">
        </div>
    </section>

    <section id="tab-contnet">
        <section class="active-course">
            <div class="container">
                <div class="course-boxs">
                    <div class="history">
                        <img class="pattern" src="../img/00012.png" alt="">
                        <h3>History</h3>
                        <div class="derivation">
                            <img src="../img/1010.png" alt="">
                            <div class="derivation-text">
                                <h4>Continuity and <br> Derivation </h4>
                                <div class="contune">
                                    <a href="#">
                                        <h5>Сontinue </h5><img src="../img/icons/Shape.svg" alt=""></div>
                                </a>
                            </div>
                        </div>
                        <div class="statictic">
                            <img class="line" src="../img/icons/Line27.svg" alt="">
                            <div class="statictic-left">
                                <div class="left-top">
                                    <h2>35/56</h2>
                                    <p>videos checked</p>
                                </div>

                                <div class="left-bottom">
                                    <h2>0/10</h2>
                                    <p>flashcard checked</p>
                                </div>
                            </div>
                            <div class="statictic-right">
                                <div class="right-top">
                                    <h2>12/20</h2>
                                    <p>exercise succeed</p>
                                </div>

                                <div class="right-bottom">
                                    <h2>1/4</h2>
                                    <p>exam done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="geographi">
                        <img class="pattern" src="../img/icons/pattern01.svg" alt="">
                        <h3>Geographi</h3>
                        <div class="derivation">
                            <img src="../img/icons/shedule.svg" alt="">
                            <div class="derivation-text">
                                <h4>Countries, continents</h4>
                                <a href="#">
                                    <h5>Сontinue <img src="../img/icons/Shape.svg" alt=""></h5>
                                </a>
                            </div>
                        </div>
                        <div class="statictic">
                            <img class="line" src="../img/icons/Line27.svg" alt="">
                            <div class="statictic-left">
                                <div class="left-top">
                                    <h2>35/56</h2>
                                    <p>videos checked</p>
                                </div>
                                <div class="left-bottom">
                                    <h2>0/10</h2>
                                    <p>flashcard checked</p>
                                </div>
                            </div>
                            <div class="statictic-right">
                                <div class="right-top">
                                    <h2>12/20</h2>
                                    <p>exercise succeed</p>
                                </div>
                                <div class="right-bottom">
                                    <h2>1/4</h2>
                                    <p>exam done</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            </div>
        </section>

        <section class="subjects">
            <div class="container">
                <h3>All subjects </h3>
                <div class="main-subjects">

                    <div class="subjects__card">
                        <a href="./philosophy.html">
                            <div class="card__content">
                                <img src="../img/pic_subject.png" alt="">
                                <h5>Mathematics</h5>
                            </div>
                        </a>
                        <a href="./philosophy.html">
                            <div class="card__content">
                                <img src="../img/pic_subject1.png" alt="">
                                <h5>Physical</h5>
                            </div>
                        </a>
                        <a href="./philosophy.html">
                            <div class="card__content">
                                <img src="../img/pic_subject2.png" alt="">
                                <h5>SVT</h5>
                            </div>
                        </a>
                        <div class="card__content">
                            <img src="../img/pic_subject3.png" alt="">
                            <h5>History</h5>
                        </div>

                    </div>
                    <div class="subjects__card">
                        <div class="card__content">
                            <img src="../img/pic_subject4.png" alt="">
                            <h5>Chemistry</h5>
                        </div>
                        <div class="card__content">
                            <img src="../img/pic_subject5.png" alt="">
                            <h5>Numeric Science</h5>
                        </div>
                        <div class="card__content">
                            <img src="../img/pic_subject6.png" alt="">
                            <h5>Technology</h5>
                        </div>
                        <a href="./philosophy.html">
                            <div class="card__content">
                                <img src="../img/pic_subject7.png" alt="">
                                <h5>Philosophy</h5>
                            </div>
                        </a>

                    </div>
                    <div class="subjects__card">
                        <div class="card__content">
                            <img src="../img/pic_subject8.png" alt="">
                            <h5>Geographi</h5>
                        </div>
                        <div class="card__content">
                            <img src="../img/pic_subject9.png" alt="">
                            <h5>French</h5>
                        </div>
                        <div class="card__content no">
                            <img src="../img/pic_subject.png" alt="">
                            <h5>Geographi</h5>
                        </div>
                        <div class="card__content no">
                            <img src="../img/pic_subject.png" alt="">
                            <h5>French</h5>
                        </div>

                    </div>

                </div>
            </div>

        </section>
    </section>

    <section id="tab-contnet" class="hide">
        <div class="motivation">
            <div class="container">
                <div class="motivation-content">
                    <div class="saidbar__motivation">
                        <div>
                            <h3 class="motivation-tab_item active-bg">See all</h3>

                        </div>
                        <div class="active__motivesaidbar">
                            <h3 class="motivation-tab_item">Access success</h3>

                        </div>
                        <div>
                            <h3 class="motivation-tab_item">Ask Methrix show</h3>

                        </div>
                        <div>
                            <h3 class="motivation-tab_item">Special issue </h3>

                        </div>
                        <img class="vertical" src="../img/Line-vertical.png" alt="">
                    </div>
                    <div class="main__motivation">
                        <h2 class="title">Access success</h2>
                        <div class="motivation__grid">
                            <div class="video-box">
                                <img src="../img/pic11.png" alt="" width="315" height="210">
                                <h3>Are you studying and still can’t do it?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>

                        </div>
                        <h2 class="title">Ask Methrix show</h2>
                        <div class="motivation__grid">
                            <div class="video-box">
                                <img src="../img/pic11.png" alt="" width="315" height="210">
                                <h3>Are you studying and still can’t do it?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>

                        </div>
                    </div>
                    <div class="main__motivation hide">
                        <h2 class="title">Access success</h2>
                        <div class="motivation__grid">
                            <div class="video-box">
                                <img src="../img/pic13.png" alt="" width="315" height="210">
                                <h3>Are you studying and still can’t do it?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>

                        </div>
                        <h2 class="title">Ask Methrix show</h2>
                        <div class="motivation__grid">
                            <div class="video-box">
                                <img src="../img/pic11.png" alt="" width="315" height="210">
                                <h3>Are you studying and still can’t do it?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>

                        </div>
                    </div>
                    <div class="main__motivation hide">
                        <h2 class="title">Access success</h2>
                        <div class="motivation__grid">
                            <div class="video-box">
                                <img src="../img/video1.png" alt="" width="315" height="210">
                                <h3>Are you studying and still can’t do it?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>

                        </div>
                        <h2 class="title">Ask Methrix show</h2>
                        <div class="motivation__grid">
                            <div class="video-box">
                                <img src="../img/pic11.png" alt="" width="315" height="210">
                                <h3>Are you studying and still can’t do it?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>

                        </div>
                    </div>
                    <div class="main__motivation hide">
                        <h2 class="title">Access success</h2>
                        <div class="motivation__grid">
                            <div class="video-box">
                                <img src="../img/image 6.png" alt="" width="315" height="210">
                                <h3>Are you studying and still can’t do it?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>

                        </div>
                        <h2 class="title">Ask Methrix show</h2>
                        <div class="motivation__grid">
                            <div class="video-box">
                                <img src="../img/pic11.png" alt="" width="315" height="210">
                                <h3>Are you studying and still can’t do it?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>
                            <div class="video-box ">
                                <img src="../img/pic11.png " alt="" width="315" height="210">
                                <h3>How to better revice?</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="tab-contnet" class="hide">
        <div class="trening">
            <div class="container">
                <div class="main__motivations">
                    <h2 class="title">Access success</h2>
                    <div class="motivation__grid">
                        <div class="trening__video">
                            <img class="cover" src="../img/pic11.png" alt="" width="315" height="210">
                            <h3>Math exam preparation</h3>
                            <div class="info__block">
                                <div class="total">
                                    <img src="../img/icons/icon307.png" alt="">
                                    <h4>2 hours total</h4>
                                </div>
                                <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                    <h4>for 4th classes </h4>
                                </div>
                            </div>
                            <hr>
                            <a href="#">
                                <h2>Сontinue <img src="../img/icons/Shape.svg" alt=""></h2>
                            </a>
                        </div>
                        <div class="trening__video">
                            <img class="cover" src="../img/pic11.png " alt="" width="315" height="210">
                            <h3>How to better revice?</h3>
                            <div class="info__block">
                                <div class="total">
                                    <img src="../img/icons/icon307.png" alt="">
                                    <h4>2 hours total</h4>
                                </div>
                                <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                    <h4>for 4th classes </h4>
                                </div>
                            </div>
                            <hr>
                            <a href="#">
                                <h2>Сontinue <img src="../img/icons/Shape.svg" alt=""></h2>
                            </a>
                        </div>
                        <div class="trening__video no">
                            <img class="cover" src="../img/pic11.png " alt="" width="315" height="210">
                            <h3>How to better revice?</h3>
                            <div class="info__block">
                                <div class="total">
                                    <img src="../img/icons/icon307.png" alt="">
                                    <h4>2 hours total</h4>
                                </div>
                                <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                    <h4>for 4th classes </h4>
                                </div>
                            </div>
                            <hr>
                            <h2>Сontinue <img src="../img/icons/Shape.svg" alt=""></h2>
                        </div>



                    </div>
                    <h2 class="title">Ask Methrix show</h2>
                    <div class="motivation__grid">
                        <div class="trening__video">
                            <img class="cover" src="../img/pic11.png" alt="" width="315" height="210">
                            <h3>Math exam preparation</h3>
                            <div class="info__block">
                                <div class="total">
                                    <img src="../img/icons/icon307.png" alt="">
                                    <h4>2 hours total</h4>
                                </div>
                                <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                    <h4>for 4th classes </h4>
                                </div>
                            </div>
                            <hr>
                            <a href="#">
                                <h2>More info</h2>
                            </a>
                        </div>
                        <div class="trening__video">
                            <img class="cover" src="../img/pic11.png" alt="" width="315" height="210">
                            <h3>Math exam preparation</h3>
                            <div class="info__block">
                                <div class="total">
                                    <img src="../img/icons/icon307.png" alt="">
                                    <h4>2 hours total</h4>
                                </div>
                                <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                    <h4>for 4th classes </h4>
                                </div>
                            </div>
                            <hr>
                            <a href="#">
                                <h2>More info</h2>
                            </a>
                        </div>
                        <div class="trening__video">
                            <img class="cover" src="../img/pic11.png" alt="" width="315" height="210">
                            <h3>Math exam preparation</h3>
                            <div class="info__block">
                                <div class="total">
                                    <img src="../img/icons/icon307.png" alt="">
                                    <h4>2 hours total</h4>
                                </div>
                                <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                    <h4>for 4th classes </h4>
                                </div>
                            </div>
                            <hr>
                            <a href="#"></a>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </section>





    <section class="app">
        <div class="container">
            <div class="app__content">
                <img class="img" src="../img/72.png" alt="">
                <h2>Use the app to review anywhere</h2>
                <div class="app__img">
                    <a href="#"> <img src="../img/image 6.png" alt=""></a>
                    <a href="#"> <img src="../img/image 7.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer__content">
                <div class="footer__logo">
                    <a href="../home.html"> <img src="../img/logodarkpng.png" alt=""></a>
                </div>
                <div class="footer__classes">
                    <h3>Classes</h3>
                    <ul>
                        <li>
                            <a href="#">5th</a>
                        </li>
                        <li>
                            <a href="#">4th</a>
                        </li>
                        <li>
                            <a href="#">3rd</a>
                        </li>
                        <li>
                            <a href="#">Second</a>
                        </li>
                        <li>
                            <a href="#">First</a>
                        </li>
                        <li>
                            <a href="#">Terminal L</a>
                        </li>
                        <li>
                            <a href="#">Terminal ES</a>
                        </li>
                        <li>
                            <a href="#">Terminal S</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__subjects">
                    <h3>Subjects</h3>
                    <ul>
                        <li>
                            <a href="../views/philosophy.html">Mathematics</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Physical</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">SVT</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">French</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Chemistry</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Technology</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__company">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="./teacher.html">Our teachers</a>
                        </li>
                        <li>
                            <a href="#"> Support community</a>
                        </li>
                        <li>
                            <a href="#">Share your story</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__follow">
                    <h3>Follow Us</h3>
                    <div class="follow__btn">
                        <button><img src="../img/icons8-facebook-f1.png" alt="">
                          </button>
                        <button><img src="../img/icons8-youtube1.png" alt="">
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <script src="../scripts/tabs.js"></script>
    <!-- <script src="../scripts/index.js"></script> -->
</body>

</html>