<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Philosophy</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbar__left">
                    <a href="../index.html"> <img src="../img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar__right">

                    <input type="text" placeholder="Find what interests you">
                    <select action="">
                    <optgroup label="Terminal ">
                    <option value="">Terminal ES</option>
                    </optgroup>
                    </select>
                    <button class="btn-dark login">log In</button>
                    <button class="btn-light premium">Get Premium</button>
                    <button class="additional"><img src="../img/icons/ic_user.svg" alt="">
                    </button>
                    <button class="additional"><img src="../img/icons/ic.svg" alt="">
                    </button>
                </div>
            </div>
        </div>
    </header>


    <section class="philosophy-title">
        <div class="container">
            <h3 class="text">Dashboard >> <span>Philosophy</span></h3>
        </div>

    </section>

    <div class="philosophy">
        <div class="container">
            <div class="philosophy-content">
                <div class="philosophy-aside">
                    <h4 class="philosophy__title">Chapter summary</h4>
                    <div class="motivation">
                        <h3 class="philosophy__link">See all</h3>
                        <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt=""></div>
                    <div class="motivation">
                        <h3 class="philosophy__link">See all </h3>
                        <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                    </div>
                    <div class="motivation">
                        <h3 class="philosophy__link text-active">Access success</h3>
                        <img class=" active-bg" src="../img/bg_name_saidbar.png" alt="">
                    </div>
                    <div class="motivation">
                        <h3 class="philosophy__link">Ask Methrix show </h3>
                        <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                    </div>
                    <div class="motivation">
                        <h3 class="philosophy__link">Special issue</h3>
                        <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                    </div>
                    <div class="motivation">
                        <h3 class="philosophy__link">See all </h3>
                        <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                    </div>
                    <div class="motivation">

                        <h3 class="philosophy__link">See all</h3>
                        <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                    </div>
                    <div class="motivation">
                        <h3 class="philosophy__link">See all </h3>
                        <img class="bg-menyu" src="../img/bg_name_saidbar.png" alt="">
                    </div>
                    <img class="vertical" src="../img/Line-vertical.png" alt="">
                </div>
                <div class="philosophy-main">
                    <h2>Philosophy</h2>
                    <div class="philosophy-block">
                        <img class="decoration" src="../img/pic_subject7.png" alt="">
                        <div class="block-top">
                            <div class="block__left">
                                <h2>Limit of functions</h2>
                                <img src="../img/icons/underpaterrn.svg" alt=" ">
                            </div>
                            <div class="block__right ">
                                <h3>40% viewed</h3>
                                <div class="progress__wiev ">
                                    <div class="progress_bar "></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main ">
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Complex numbers</h5>
                                </a>
                                <a href="# ">
                                    <h5>Polynomials</h5>
                                </a>
                                <a href="# ">
                                    <h5>Composite functions</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                                <a href="# ">
                                    <h5>Vectors</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5> Conic sections</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5>Conic sections</h5>
                                </a>
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="philosophy-block ">
                        <div class="block-top ">
                            <div class="block__left ">
                                <h2>Limit of functions</h2>
                                <img src="../img/icons/underpaterrn.svg " alt=" ">
                            </div>
                            <div class="block__right ">
                                <h3>40% viewed</h3>
                                <div class="progress__wiev ">
                                    <div class="progress_bar "></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main ">
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Complex numbers</h5>
                                </a>
                                <a href="# ">
                                    <h5>Polynomials</h5>
                                </a>
                                <a href="# ">
                                    <h5>Composite functions</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                                <a href="# ">
                                    <h5>Vectors</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5> Conic sections</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5>Conic sections</h5>
                                </a>
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="philosophy-block ">
                        <div class="block-top ">
                            <div class="block__left ">
                                <h2>Limit of functions</h2>
                                <img src="../img/icons/underpaterrn.svg " alt=" ">
                            </div>
                            <div class="block__right ">
                                <h3>40% viewed</h3>
                                <div class="progress__wiev ">
                                    <div class="progress_bar "></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main ">
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Complex numbers</h5>
                                </a>
                                <a href="# ">
                                    <h5>Polynomials</h5>
                                </a>
                                <a href="# ">
                                    <h5>Composite functions</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                                <a href="# ">
                                    <h5>Vectors</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5> Conic sections</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5>Conic sections</h5>
                                </a>
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="philosophy-block ">
                        <div class="block-top ">
                            <div class="block__left ">
                                <h2>Limit of functions</h2>
                                <img src="../img/icons/underpaterrn.svg " alt=" ">
                            </div>
                            <div class="block__right ">
                                <h3>40% viewed</h3>
                                <div class="progress__wiev ">
                                    <div class="progress_bar "></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main ">
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Complex numbers</h5>
                                </a>
                                <a href="# ">
                                    <h5>Polynomials</h5>
                                </a>
                                <a href="# ">
                                    <h5>Composite functions</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                                <a href="# ">
                                    <h5>Vectors</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5> Conic sections</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5>Conic sections</h5>
                                </a>
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="philosophy-block ">
                        <div class="block-top ">
                            <div class="block__left ">
                                <h2>Limit of functions</h2>
                                <img src="../img/icons/underpaterrn.svg " alt=" ">
                            </div>
                            <div class="block__right ">
                                <h3>40% viewed</h3>
                                <div class="progress__wiev ">
                                    <div class="progress_bar "></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main ">
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Complex numbers</h5>
                                </a>
                                <a href="# ">
                                    <h5>Polynomials</h5>
                                </a>
                                <a href="# ">
                                    <h5>Composite functions</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                                <a href="# ">
                                    <h5>Vectors</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5> Conic sections</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5>Conic sections</h5>
                                </a>
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="philosophy-block ">
                        <div class="block-top ">
                            <div class="block__left ">
                                <h2>Limit of functions</h2>
                                <img src="../img/icons/underpaterrn.svg " alt=" ">
                            </div>
                            <div class="block__right ">
                                <h3>40% viewed</h3>
                                <div class="progress__wiev ">
                                    <div class="progress_bar "></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main ">
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Complex numbers</h5>
                                </a>
                                <a href="# ">
                                    <h5>Polynomials</h5>
                                </a>
                                <a href="# ">
                                    <h5>Composite functions</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                                <a href="# ">
                                    <h5>Vectors</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5> Conic sections</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5>Conic sections</h5>
                                </a>
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="philosophy-block ">
                        <div class="block-top ">
                            <div class="block__left ">
                                <h2>Limit of functions</h2>
                                <img src="../img/icons/underpaterrn.svg " alt=" ">
                            </div>
                            <div class="block__right ">
                                <h3>40% viewed</h3>
                                <div class="progress__wiev ">
                                    <div class="progress_bar "></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main ">
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Complex numbers</h5>
                                </a>
                                <a href="# ">
                                    <h5>Polynomials</h5>
                                </a>
                                <a href="# ">
                                    <h5>Composite functions</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                                <a href="# ">
                                    <h5>Vectors</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5> Conic sections</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5>Conic sections</h5>
                                </a>
                            </div>

                        </div>
                        <hr>
                    </div>
                    <div class="philosophy-block ">
                        <div class="block-top ">
                            <div class="block__left ">
                                <h2>Limit of functions</h2>
                                <img src="../img/icons/underpaterrn.svg " alt=" ">
                            </div>
                            <div class="block__right ">
                                <h3>40% viewed</h3>
                                <div class="progress__wiev ">
                                    <div class="progress_bar "></div>
                                </div>
                            </div>
                        </div>
                        <div class="block-main ">
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Complex numbers</h5>
                                </a>
                                <a href="# ">
                                    <h5>Polynomials</h5>
                                </a>
                                <a href="# ">
                                    <h5>Composite functions</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                                <a href="# ">
                                    <h5>Vectors</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5> Conic sections</h5>
                                </a>
                                <a href="# ">
                                    <h5>Trigonometry</h5>
                                </a>
                            </div>
                            <div class="chapter ">
                                <a href="# ">
                                    <h5>Series</h5>
                                </a>
                                <a href="# ">
                                    <h5>Conic sections</h5>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>

    <section class="app app-motivation ">
        <div class="container ">
            <div class="app__content ">
                <img class="img " src="../img/72.png " alt=" ">
                <h2>Use the app to review anywhere</h2>
                <div class="app__img ">
                    <a href="# "> <img src="../img/image 6.png " alt=" "></a>
                    <a href="# "> <img src="../img/image 7.png " alt=" "></a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container ">
            <div class="footer__content ">
                <div class="footer__logo ">
                    <a href="./home.html "> <img src="../img/logodarkpng.png " alt=" "></a>
                </div>
                <div class="footer__classes ">
                    <h3>Classes</h3>
                    <ul>
                        <li>
                            <a href="# ">5th</a>
                        </li>
                        <li>
                            <a href="# ">4th</a>
                        </li>
                        <li>
                            <a href="# ">3rd</a>
                        </li>
                        <li>
                            <a href="# ">Second</a>
                        </li>
                        <li>
                            <a href="# ">First</a>
                        </li>
                        <li>
                            <a href="# ">Terminal L</a>
                        </li>
                        <li>
                            <a href="# ">Terminal ES</a>
                        </li>
                        <li>
                            <a href="# ">Terminal S</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__subjects ">
                    <h3>Subjects</h3>
                    <ul>
                        <li>
                            <a href="../views/philosophy.html ">Mathematics</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html ">Physical</a>
                        </li>
                        <li>
                            <a href=" ../views/philosophy.html ">SVT</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html ">French</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html ">Chemistry</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html ">Technology</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__company ">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href="# ">About Us</a>
                        </li>
                        <li>
                            <a href="# ">Contact</a>
                        </li>
                        <li>
                            <a href="./teacher.html ">Our teachers</a>
                        </li>
                        <li>
                            <a href="# "> Support community</a>
                        </li>
                        <li>
                            <a href="# ">Share your story</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__follow ">
                    <h3>Follow Us</h3>
                    <div class="follow__btn ">
                        <button><img src="../img/icons8-facebook-f1.png " alt=" ">
                          </button>
                        <button><img src="../img/icons8-youtube1.png " alt=" ">
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="../scripts/index.js "></script>
</body>

</html>