<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Step1</title>
</head>

<body>
    <section class="step-one">
        <div class="container">


            <div class="titile">
                <a href="./step1reg.html"><button class="swup"><img src="../img/icons/ic_back.svg" alt=""> </button></a>
                <h2>Let's get acquainted</h2>
                <a href="../index.html"> <button class="close"><img src="../img/icons/ic_close.svg" alt=""></button></a>
            </div>
            <hr>
            <div class="middle-container">
                <h4>Step 1/4</h4>
                <div class="progress">
                    <div class="progress_bar">
                        <div class="bar__content"></div>
                    </div>
                </div>
                <div class="one__input">

                    <label for="email">Username</label> <br>
                    <input type="text" placeholder="Claudia" required> <br>
                </div>
                <a href="./step2reg.html"><button class="btn-light">Next</button></a>
            </div>
        </div>
    </section>

    <script src="../scripts/index.js"></script>
</body>

</html>