<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Step2</title>
</head>

<body>
    <section class="step-two">
        <div class="container">


            <div class="titile">
                <a href="./step1reg.html"><button class="swup"><img src="../img/icons/ic_back.svg" alt=""> </button></a>
                <h2>Let's get acquainted</h2>
                <button class="close"><img src="../img/icons/ic_close.svg" alt=""></button>
            </div>
            <hr>
            <div class="middle-container">
                <h4>Step 2/4</h4>
                <div class="progress">
                    <div class="progress_bar">
                        <div class="bar__content"></div>
                    </div>
                </div>
                <h3>Coose the grade</h3>
                <div class="choose_gradE">
                    <button class="grade">First</button>
                    <button class="grade">Second</button>
                    <button class="grade">3rd</button>
                    <button class="grade">4th</button>

                </div>
                <div class="choose_gradE">
                    <button class="grade">5th</button>
                    <button class="grade">Terminal L</button>
                    <button class="grade">Terminal ES</button>
                    <button class="grade">Terminal S</button>

                </div>
                <h3>Choose your college</h3>
                <div class="two-input">
                    <img class="search" src="../img/icons/Search2.svg" alt="">
                    <input type="text" placeholder="Search your college"><br>
                </div>
                <a href="./step3reg.html"> <button class="btn-light">Next</button></a>
            </div>
        </div>
    </section>



    <script src="../scripts/index.js"></script>
</body>

</html>