<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Step4</title>
</head>

<body>
    <section class="step-four">
        <div class="container">
            <div class="titile">
                <a href="./step3reg.html"><button class="swup"><img src="../img/icons/ic_back.svg" alt="back"> </button></a>
                <h2>Give us more information about yourself</h2>
                <a href="../index.html"><button class="close"><img src="../img/icons/ic_close.svg" alt="close"></button></a>
            </div>
            <hr>
            <div class="middle-container">
                <h4>Step 4/4</h4>
                <div class="progress">
                    <div class="progress_bar">
                        <div class="bar__content"></div>
                    </div>
                </div>
                <h3>Select your average grade at school</h3>
                <div class="range-grade_avarge">
                    <button class="range-btn"><img src="../img/btnminus.png" alt=""></button>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <button class="range-btn"><img src="../img/btnplus.png" alt=""></button>
                </div>

                <div class="range-silader">
                    <div class="slider-thumb">
                        <div class="toolltip"></div>
                    </div>
                    <div class="pogress"></div>
                </div>
                <h3>Do you consider yourself as </h3>
                <div class="range-consider_yourself">
                    <button class="range-btn"><img src="../img/btnminus.png" alt=""></button>
                    <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
                    <button class="range-btn"><img src="../img/btnplus.png" alt=""></button>
                </div>

                <a href="../index.html"><button class="btn-light">Finish</button></a>
            </div>
        </div>


    </section>



    <script src="../scripts/index.js"></script>
</body>

</html>