<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Subjects</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbar__left">
                    <a href="../index.html"> <img src="../img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar__right">

                    <input type="text" placeholder="Find what interests you">
                    <select action="">
                    <optgroup label="Terminal ">
                    <option value="">Terminal ES</option>
                    </optgroup>
                    </select>
                    <button class="btn-dark login">log In</button>
                    <button class="btn-light premium">Get Premium</button>
                    <button class="additional"><img src="../img/icons/ic_user.svg" alt="">
                    </button>
                    <button class="additional"><img src="../img/icons/ic.svg" alt="">
                    </button>
                </div>
            </div>
        </div>


    </header>
    <section class="text-top">
        <div class="container">
            <div class="text-top__content">
                <h2>Welcome, Callie!</h2>
                <img class="fill" src="../img/icons/Fill0345.svg" alt="">
                <div class="view">
                    <h4><span>12</span> mins viewed</h4>
                    <h4><span>40</span> activities checked</h4>

                </div>
            </div>
        </div>
    </section>

    <section class="tabs">
        <div class="container">

            <div class="tabs__content">
                <div class="tab-subject">
                    <a href="#">
                        <h4 class="text-active simple">Subjects</h4>
                        <div class="tabs__active">
                        </div>
                    </a>

                </div>


                <div class="tab-motivation">
                    <a href="motivation.html">
                        <h4 class="simple">Motivation</h4>
                    </a>

                </div>


                <div class="tab-trening">
                    <a href="traning.html">
                        <h4 class="simple">Trening</h4>
                    </a>
                </div>

            </div>
            <hr class="line-simple">
        </div>
    </section>

    <section class="active-course">
        <div class="container">
            <div class="course-boxs">
                <div class="history">
                    <img class="pattern" src="../img/00012.png" alt="">
                    <h3>History</h3>
                    <div class="derivation">
                        <img src="../img/1010.png" alt="">
                        <div class="derivation-text">
                            <h4>Continuity and <br> Derivation </h4>
                            <div class="contune">
                                <h5>Сontinue </h5><img src="../img/icons/Shape.svg" alt=""></div>
                        </div>
                    </div>
                    <div class="statictic">
                        <img class="line" src="../img/icons/Line27.svg" alt="">
                        <div class="statictic-left">
                            <div class="left-top">
                                <h2>35/56</h2>
                                <p>videos checked</p>
                            </div>

                            <div class="left-bottom">
                                <h2>0/10</h2>
                                <p>flashcard checked</p>
                            </div>
                        </div>
                        <div class="statictic-right">
                            <div class="right-top">
                                <h2>12/20</h2>
                                <p>exercise succeed</p>
                            </div>

                            <div class="right-bottom">
                                <h2>1/4</h2>
                                <p>exam done</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="geographi">
                    <img class="pattern" src="../img/icons/pattern01.svg" alt="">
                    <h3>Geographi</h3>
                    <div class="derivation">
                        <img src="../img/icons/shedule.svg" alt="">
                        <div class="derivation-text">
                            <h4>Countries, continents</h4>
                            <h5>Сontinue <img src="../img/icons/Shape.svg" alt=""></h5>
                        </div>
                    </div>
                    <div class="statictic">
                        <img class="line" src="../img/icons/Line27.svg" alt="">
                        <div class="statictic-left">
                            <div class="left-top">
                                <h2>35/56</h2>
                                <p>videos checked</p>
                            </div>
                            <div class="left-bottom">
                                <h2>0/10</h2>
                                <p>flashcard checked</p>
                            </div>
                        </div>
                        <div class="statictic-right">
                            <div class="right-top">
                                <h2>12/20</h2>
                                <p>exercise succeed</p>
                            </div>
                            <div class="right-bottom">
                                <h2>1/4</h2>
                                <p>exam done</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </section>

    <section class="subjects">
        <div class="container">
            <h3>All subjects </h3>
            <div class="main-subjects">

                <div class="subjects__card">
                    <div class="card__content">
                        <img src="../img/pic_subject.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content">
                        <img src="../img/pic_subject1.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content">
                        <img src="../img/pic_subject2.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content">
                        <img src="../img/pic_subject3.png" alt="">
                        <h5>Mathematics</h5>
                    </div>

                </div>
                <div class="subjects__card">
                    <div class="card__content">
                        <img src="../img/pic_subject4.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content">
                        <img src="../img/pic_subject5.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content">
                        <img src="../img/pic_subject6.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content">
                        <img src="../img/pic_subject7.png" alt="">
                        <h5>Mathematics</h5>
                    </div>

                </div>
                <div class="subjects__card">
                    <div class="card__content">
                        <img src="../img/pic_subject8.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content">
                        <img src="../img/pic_subject9.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content no">
                        <img src="../img/pic_subject.png" alt="">
                        <h5>Mathematics</h5>
                    </div>
                    <div class="card__content no">
                        <img src="../img/pic_subject.png" alt="">
                        <h5>Mathematics</h5>
                    </div>

                </div>

            </div>
        </div>

    </section>
    <section class="app">
        <div class="container">
            <div class="app__content">
                <img class="img" src="../img/72.png" alt="">
                <h2>Use the app to review anywhere</h2>
                <div class="app__img">
                    <a href="#"> <img src="../img/image 6.png" alt=""></a>
                    <a href="#"> <img src="../img/image 7.png" alt=""></a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="footer__content">
                <div class="footer__logo">
                    <a href="./home.html"> <img src="./img/logodarkpng.png" alt=""></a>
                </div>
                <div class="footer__classes">
                    <h3>Classes</h3>
                    <ul>
                        <li>
                            <a href="#">5th</a>
                        </li>
                        <li>
                            <a href="#">4th</a>
                        </li>
                        <li>
                            <a href="#">3rd</a>
                        </li>
                        <li>
                            <a href="#">Second</a>
                        </li>
                        <li>
                            <a href="#">First</a>
                        </li>
                        <li>
                            <a href="#">Terminal L</a>
                        </li>
                        <li>
                            <a href="#">Terminal ES</a>
                        </li>
                        <li>
                            <a href="#">Terminal S</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__subjects">
                    <h3>Subjects</h3>
                    <ul>
                        <li>
                            <a href="../views/philosophy.html">Mathematics</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Physical</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">SVT</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">French</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Chemistry</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Technology</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__company">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Contact</a>
                        </li>
                        <li>
                            <a href="./teacher.html">Our teachers</a>
                        </li>
                        <li>
                            <a href="#"> Support community</a>
                        </li>
                        <li>
                            <a href="#">Share your story</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__follow">
                    <h3>Follow Us</h3>
                    <div class="follow__btn">
                        <button><img src="../img/icons8-facebook-f1.png" alt="">
                          </button>
                        <button><img src="../img/icons8-youtube1.png" alt="">
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="../scripts/index.js"></script>
</body>

</html>
<section class="tabs">
    <div class="container">

        <div class="tabs__content">
            <div class="tab-subject">
                <a href="#">
                    <h4 class="text-active simple">Subjects</h4>
                    <div class="tabs__active">
                    </div>
                </a>

            </div>


            <div class="tab-motivation">
                <a href="motivation.html">
                    <h4 class="simple">Motivation</h4>
                </a>

            </div>


            <div class="tab-trening">
                <a href="traning.html">
                    <h4 class="simple">Trening</h4>
                </a>
            </div>

        </div>
        <hr class="line-simple">
    </div>
</section>