<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style.css/main.css">
    <title>Traning</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="navbar">
                <div class="navbar__left">
                    <a href="../index.html"> <img src="../img/logo.png" alt="logo"></a>
                </div>
                <div class="navbar__right">

                    <input type="text" placeholder="Find what interests you">
                    <select action="">
                    <optgroup label="Terminal ">
                    <option value="">Terminal ES</option>
                    </optgroup>
                    </select>
                    <button class="btn-dark login">log In</button>
                    <button class="btn-light premium">Get Premium</button>
                    <button class="additional"><img src="../img/icons/ic_user.svg" alt="">
                    </button>
                    <button class="additional"><img src="../img/icons/ic.svg" alt="">
                    </button>
                </div>
            </div>
        </div>


    </header>
    <section class="text-top">
        <div class="container">
            <div class="text-top__content">
                <h2>Welcome, Callie!</h2>
                <img class="fill" src="../img/icons/Fill0345.svg" alt="">
                <div class="view">
                    <h4><span>0</span> mins viewed</h4>
                    <h4><span>0</span> activities checked</h4>

                </div>
            </div>
        </div>
    </section>

    <section class="tabs">
        <div class="container">

            <div class="tabs__content">
                <div class="tab-subject">
                    <a href="subjects.html">
                        <h4 class=" simple">Subjects</h4>

                    </a>

                </div>


                <div class="tab-motivation">
                    <a href="motivation.html">
                        <h4 class=" simple">Motivation</h4>

                    </a>

                </div>


                <div class="tab-trening">
                    <a href="#">
                        <h4 class="simple text-active">Trening</h4>
                        <div class="tabs__active"></div>
                    </a>
                </div>

            </div>
            <hr class="line-simple">
        </div>
    </section>

    <div class="trening">
        <div class="container">
            <div class="main__motivation">
                <h2 class="title">Access success</h2>
                <div class="motivation__grid">
                    <div class="trening__video">
                        <img class="cover" src="../img/pic11.png" alt="" width="315" height="210">
                        <h3>Math exam preparation</h3>
                        <div class="info__block">
                            <div class="total">
                                <img src="../img/icons/icon307.png" alt="">
                                <h4>2 hours total</h4>
                            </div>
                            <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                <h4>for 4th classes </h4>
                            </div>
                        </div>
                        <hr>
                        <h2>Сontinue <img src="../img/icons/Shape.svg" alt=""></h2>
                    </div>
                    <div class="trening__video">
                        <img class="cover" src="../img/pic11.png " alt="" width="315" height="210">
                        <h3>How to better revice?</h3>
                        <div class="info__block">
                            <div class="total">
                                <img src="../img/icons/icon307.png" alt="">
                                <h4>2 hours total</h4>
                            </div>
                            <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                <h4>for 4th classes </h4>
                            </div>
                        </div>
                        <hr>
                        <h2>Сontinue <img src="../img/icons/Shape.svg" alt=""></h2>
                    </div>
                    <div class="trening__video no">
                        <img class="cover" src="../img/pic11.png " alt="" width="315" height="210">
                        <h3>How to better revice?</h3>
                        <div class="info__block">
                            <div class="total">
                                <img src="../img/icons/icon307.png" alt="">
                                <h4>2 hours total</h4>
                            </div>
                            <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                <h4>for 4th classes </h4>
                            </div>
                        </div>
                        <hr>
                        <h2>Сontinue <img src="../img/icons/Shape.svg" alt=""></h2>
                    </div>



                </div>
                <h2 class="title">Ask Methrix show</h2>
                <div class="motivation__grid">
                    <div class="trening__video">
                        <img class="cover" src="../img/pic11.png" alt="" width="315" height="210">
                        <h3>Math exam preparation</h3>
                        <div class="info__block">
                            <div class="total">
                                <img src="../img/icons/icon307.png" alt="">
                                <h4>2 hours total</h4>
                            </div>
                            <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                <h4>for 4th classes </h4>
                            </div>
                        </div>
                        <hr>
                        <h2>More info</h2>
                    </div>
                    <div class="trening__video">
                        <img class="cover" src="../img/pic11.png" alt="" width="315" height="210">
                        <h3>Math exam preparation</h3>
                        <div class="info__block">
                            <div class="total">
                                <img src="../img/icons/icon307.png" alt="">
                                <h4>2 hours total</h4>
                            </div>
                            <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                <h4>for 4th classes </h4>
                            </div>
                        </div>
                        <hr>
                        <h2>More info</h2>
                    </div>
                    <div class="trening__video">
                        <img class="cover" src="../img/pic11.png" alt="" width="315" height="210">
                        <h3>Math exam preparation</h3>
                        <div class="info__block">
                            <div class="total">
                                <img src="../img/icons/icon307.png" alt="">
                                <h4>2 hours total</h4>
                            </div>
                            <div class="classes"> <img src="../img/icons/icon305.svg" alt="">
                                <h4>for 4th classes </h4>
                            </div>
                        </div>
                        <hr>
                        <h2>More info</h2>
                    </div>

                </div>
            </div>

        </div>
    </div>


    <section class="app app-motivation">
        <div class="container ">
            <div class="app__content ">
                <img class="img " src="../img/72.png " alt=" ">
                <h2>Use the app to review anywhere</h2>
                <div class="app__img ">
                    <a href="# "> <img src="../img/image 6.png " alt=" "></a>
                    <a href="# "> <img src="../img/image 7.png " alt=" "></a>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="container ">
            <div class="footer__content ">
                <div class="footer__logo ">
                    <a href="./home.html "> <img src="../img/logodarkpng.png " alt=" "></a>
                </div>
                <div class="footer__classes ">
                    <h3>Classes</h3>
                    <ul>
                        <li>
                            <a href="# ">5th</a>
                        </li>
                        <li>
                            <a href="# ">4th</a>
                        </li>
                        <li>
                            <a href="# ">3rd</a>
                        </li>
                        <li>
                            <a href="# ">Second</a>
                        </li>
                        <li>
                            <a href="# ">First</a>
                        </li>
                        <li>
                            <a href="# ">Terminal L</a>
                        </li>
                        <li>
                            <a href="# ">Terminal ES</a>
                        </li>
                        <li>
                            <a href="# ">Terminal S</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__subjects ">
                    <h3>Subjects</h3>
                    <ul>
                        <li>
                            <a href="../views/philosophy.html">Mathematics</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Physical</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">SVT</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">French</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Chemistry</a>
                        </li>
                        <li>
                            <a href="../views/philosophy.html">Technology</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__company ">
                    <h3>Company</h3>
                    <ul>
                        <li>
                            <a href="# ">About Us</a>
                        </li>
                        <li>
                            <a href="# ">Contact</a>
                        </li>
                        <li>
                            <a href="./teacher.html ">Our teachers</a>
                        </li>
                        <li>
                            <a href="# "> Support community</a>
                        </li>
                        <li>
                            <a href="# ">Share your story</a>
                        </li>

                    </ul>
                </div>
                <div class="footer__follow ">
                    <h3>Follow Us</h3>
                    <div class="follow__btn ">
                        <button><img src="../img/icons8-facebook-f1.png" alt="">
                          </button>
                        <button><img src="../img/icons8-youtube1.png" alt="">
                          </button>
                    </div>
                </div>
            </div>
        </div>
    </footer>



    <script src="../scripts/index.js "></script>
</body>

</html>